body{
  background-image: url(../IMAGENES/fondo8.jpg);
}
  .titulo-pedido {
    margin-top: 20px;
    text-align: center;
    color: #f1eff1;
  }
  
  /*Contenedor 1*/ 
  .container-cards {
    width: 60%;
    display: flex;
    margin: auto;
    margin-top: -20px;
  }
  
  .cards {
    width: 80%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fffbfb;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
    transition: all 400ms ease-out;
    cursor: default;
  }
  
    .cards:hover {
        box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
        transform: translateY(-3%);
    }
  
 
    .cards .contenido-cards {
        padding: 10px;
        text-align: center;
    }
  
        .cards .contenido-cards h3 {
            margin-bottom: 15px;
            color: black;
            font-size: 20px;
        }
  
        .card .contenido-card p {
            line-height: 1.8;
            color: #da1f1f;
            font-size: 14px;
            margin-bottom: 5px;
        }
        
  @media only screen and (min-width:320px) and (max-width:700px) {
    .container-cards {
        flex-wrap: wrap;
    }
    .cards {
        margin: 25px;
    }
  }
  
/* pie de pagina*/
.bg-dark-light {
  background: #EEE7AB !important;
}
.bg-theme, .bg-dark, .bg-dark-light, .bg-secondary {
  color: black;
}
.widgets.footer-widgets .widget-title {
  color: black;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin-bottom: 30px;
  letter-spacing: 0.5px;
  position: relative;
  padding-bottom: 15px;
}

.widgets.footer-widgets .widget-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100px;
  background: #13bfb1;
}
.widgets.footer-widgets .widget-quick-links ul {
  margin-top: -4px;
}
.widgets.footer-widgets .single-widget ul {
  padding-left: 0;
  margin-bottom: 0;
}

.widgets.footer-widgets .widget-quick-links ul li {
  display: block;
}
.widgets.footer-widgets .widget-quick-links ul li a {
  display: block;
  font-size: 13px;
  color: black;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 9px 0;
}

.widgets.footer-widgets .single-widget ul li {
  list-style: none;
  font-family: "Raleway", sans-serif;
}
.widgets.footer-widgets .widget-contact ul li {
  color: #000;
  font-size: 13px;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.widgets.footer-widgets .widget-contact ul li span {
  font-size: 14px;
  color: black;
  border: 2px solid #cccccc;
  border-radius: 3px;
  height: 32px;
  width: 32px;
  display: inline-block;
  line-height: 28px;
  text-align: center;
  margin-right: 20px;
}
.widgets.footer-widgets .widget-contact ul li.phone, .widgets.footer-widgets .widget-contact ul li.fax {
  font-size: 15px;
}
.widgets.footer-widgets .widget-contact ul li + li {
    margin-top: 20px;
}